Run python -m pip install mysqlclient pymysql from your terminal to install the mysql client (any folder is fine)
cd into your exercises folder for this module and run echo env.py >> .gitignore
Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
Use your function to obtain a connection to the employees database.
Once you have successfully run a query:
Intentionally make a typo in the database url. What kind of error message do you see?
Intentionally make an error in your SQL query. What does the error message look like?
Read the employees and titles tables into two separate DataFrames.
How many rows and columns do you have in each DataFrame? Is that what you expected?
Display the summary statistics for each DataFrame.
How many unique titles are in the titles DataFrame?
What is the oldest date in the to_date column?
What is the most recent date in the to_date column?

In [36]:
import pandas as pd
import numpy as np

In [17]:
from env import host, user, password, get_db_url

url = get_db_url('employees')

In [12]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [ ]:
# error in the URL will produce an Operational Error
url = f'mysql+pymysql://{user}:{password}@{host}/employes'
    #(OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'mirzakhani_1931'@'%' to database 'employes'")

In [ ]:
# error in the query will produce an ProgrammingError: 
pd.read_sql('SELECT * FROM emplyees LIMIT 5 OFFSET 50', url)
    # ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.emplyees' doesn't exist")
#[SQL: SELECT * FROM emplyees LIMIT 5 OFFSET 50]

In [14]:
# Read the employees and titles tables into two separate DataFrames.
pd.DataFrame = pd.read_sql('SELECT * FROM employees',url)

In [18]:
employees_read = pd.DataFrame

In [19]:
pd.DataFrame = pd.read_sql('SELECT * FROM titles',url)

In [38]:
titles_read = pd.DataFrame
titles_read

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [27]:
# How many rows and columns do you have in each DataFrame? Is that what you expected?
    # employees has 300024 rows and 6 columns
    # titles has 443308 rows and 4 columns
employees_read.shape

(300024, 6)

In [28]:
titles_read.shape

(443308, 4)

In [25]:
# Display the summary statistics for each DataFrame.
employees_read.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [26]:
titles_read.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [43]:
# How many unique titles are in the titles DataFrame?
    # There are 7 unique titles
titles_read.title.unique()
len(titles_read.title.unique())

7

In [33]:
titles_read.columns

Index(['emp_no', 'title', 'from_date', 'to_date'], dtype='object')

In [46]:
# What is the oldest date in the to_date column?
    # date 1985 - 3 -1, (year, month, day)
titles_read.to_date.min()

datetime.date(1985, 3, 1)

In [47]:
# What is the most recent date in the to_date column?
    # date 9999 - 1 - 1, (year, month,day)
titles_read.to_date.max()

datetime.date(9999, 1, 1)

In [ ]:
Exercises II

Copy the users and roles DataFrames from the examples above.
What is the result of using a right join on the DataFrames?
What is the result of using an outer join on the DataFrames?
What happens if you drop the foreign keys from the DataFrames and try to merge them?
Load the mpg dataset from PyDataset.
Output and read the documentation for the mpg dataset.
How many rows and columns are in the dataset?
Check out your column names and perform any cleanup you may want on them.
Display the summary statistics for the dataset.
How many different manufacturers are there?
How many different models are there?
Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.
Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.
Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.
Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?
Do automatic or manual cars have better miles per gallon?

In [5]:
import pandas as pd
import numpy as np

np.random.seed(123)

# Copy the users and roles DataFrames from the examples above.

In [6]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [7]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

# What is the result of using a right join on the DataFrames?

In [9]:
users.merge(roles, left_on = 'role_id', right_on='id', how='right', indicator = True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0     1      admin        both
1   2.0    joe      2.0     2     author        both
2   3.0  sally      3.0     3   reviewer        both
3   4.0   adam      3.0     3   reviewer        both
4   NaN    NaN      NaN     4  commenter  right_only

# What is the result of using an outer join on the DataFrames?

In [10]:
users.merge(roles, left_on = 'role_id', right_on='id', how='outer', indicator = True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0   1.0      admin        both
1   2.0    joe      2.0   2.0     author        both
2   3.0  sally      3.0   3.0   reviewer        both
3   4.0   adam      3.0   3.0   reviewer        both
4   5.0   jane      NaN   NaN        NaN   left_only
5   6.0   mike      NaN   NaN        NaN   left_only
6   NaN    NaN      NaN   4.0  commenter  right_only

# What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
# you wont be able to join the tables
# we get a key error on 'role_id'

In [13]:
users = users.drop(columns =['role_id'])

In [14]:
users.merge(roles, left_on = 'role_id', right_on='id', how='outer', indicator = True)

KeyError: 'role_id'

# Load the mpg dataset from PyDataset.

In [68]:
from pydataset import data
mpg = data('mpg')

# Output and read the documentation for the mpg dataset.

In [69]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

# How many rows and columns are in the dataset?

In [70]:
# there are 234 rows and 11 columns
mpg.shape

(234, 11)

In [71]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

# Check out your column names and perform any cleanup you may want on them.

In [72]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

mpg.rename(columns ={'cty':'city'}).rename(columns ={'fl':'fuel'}).rename(columns ={'hwy':'highway'})

In [73]:
mpg.sample(20)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup

# Display the summary statistics for the dataset.

In [74]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [75]:
mpg.groupby('class').describe()

           displ                                                 year  \
           count      mean       std  min  25%   50%   75%  max count
class
2seater      5.0  6.160000  0.531977  5.7  5.7  6.20  6.20  7.0   5.0
compact     47.0  2.325532  0.452274  1.8  2.0  2.20  2.80  3.3  47.0
midsize     41.0  2.921951  0.718510  1.8  2.4  2.80  3.50  5.3  41.0
minivan     11.0  3.390909  0.452669  2.4  3.3  3.30  3.80  4.0  11.0
pickup      33.0  4.418182  0.828574  2.7  3.9  4.70  4.70  5.9  33.0
subcompact  35.0  2.660000  1.102457  1.6  1.9  2.20  3.25  5.4  35.0
suv         62.0  4.456452  1.065805  2.5  4.0  4.65  5.30  6.5  62.0

                         ...    cty         hwy                             \
                   mean  ...    75%   max count       mean       std   min
class                    ...
2seater     2004.400000  ...  16.00  16.0   5.0  24.800000  1.303840  23.0
compact     2003.212766  ...  21.00  33.0  47.0  28.297872  3.781620  23.0
midsize     2003.609756  ...  21.00  23.0  41.0  27.292683  2.135930  23.0
minivan     2003.090909  ...  17.00  18.0  11.0  22.363636  2.062655  17.0
pickup      2003.636364  ...  14.00  17.0  33.0  16.878788  2.274280  12.0
subcompact  2003.114286  ...  23.50  35.0  35.0  28.142857  5.375012  20.0
suv         2003.790323  ...  14.75  20.0  62.0  18.129032  2.977973  12.0


             25%   50%   75%   max
class
2seater     24.0  25.0  26.0  26.0
compact     26.0  27.0  29.0  44.0
midsize     26.0  27.0  29.0  32.0
minivan     22.0  23.0  24.0  24.0
pickup      16.0  17.0  18.0  22.0
subcompact  24.5  26.0  30.5  44.0
suv         17.0  17.5  19.0  27.0

[7 rows x 40 columns]

# How many different manufacturers are there?

In [76]:
# there are 15 different manufactures
len(mpg.groupby('manufacturer'))

15

# How many different models are there?

In [77]:
# There are 38 different models
len(mpg.groupby('model'))

38

# Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [113]:
difference = mpg['hwy']-mpg['cty']

In [79]:
mpg = mpg.assign(mileage_difference= difference)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

# Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [80]:
mean_miles = (mpg['hwy']+ mpg['cty'])/2

In [81]:
mpg = mpg.assign(average_mileage = mean_miles)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

# Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [88]:
is_automatic = mpg['trans'].str.contains('auto')

In [89]:
mpg[is_automatic]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,21.0
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9,19.5
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,8,21.0
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7,19.5
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,4,13.0
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,4,15.0
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,5,14.5
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,8,19.0
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,10,20.0
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,5,16.5
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,3,12.5
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,3,15.5
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,8,23.0
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,8,26.0
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11,23.5
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize,9,21.5
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,6,14.0
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,3,15.5
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3,14.5
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,4,15.0
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,4,15.0
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7,21.5
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8,20.0
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6,18.0
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,18.5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11,30.5
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,8,22.0
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9,25.5
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,8,22.0
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize,9,23.5
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7,23.5
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7,20.5
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,5,19.5
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,4,17.0
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5,17.5
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3,15.5
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,5,16.5
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,3,12.5
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,4,13.0
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,6,15.0
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,6,15.0
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,4,13.0
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,5,13.5
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,23.0
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize,8,27.0
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize,7,22.5
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize,6,22.0
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,3,15.5
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,6,17.0
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,6,15.0
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,10,21.0
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,10,22.0
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize,10,23.0
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,9,20.5
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,6,21.0
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,6,23.0
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,5,20.5
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5,23.5
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7,22.5
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,22.5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,23.5
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,4,18.0
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,4,17.0
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,4,18.0
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3,15.5
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,6,24.0
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,10,26.0
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,9,23.5
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,24.0
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,26.5
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,22.0
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,22.5
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,5,15.5
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,4,18.0
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,4,17.0
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,4,18.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,25.0
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9,24.5
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11,23.5
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

# Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [106]:
# volkswagen has the best mileage at 39.5
mpg.groupby('manufacturer').average_mileage.max()

manufacturer
audi          22.027778
chevrolet     18.447368
dodge         15.540541
ford          16.680000
honda         28.500000
hyundai       22.750000
jeep          15.562500
land rover    14.000000
lincoln       14.166667
mercury       15.625000
nissan        21.346154
pontiac       21.700000
subaru        22.428571
toyota        21.720588
volkswagen    25.074074
Name: average_mileage, dtype: float64

In [125]:
# volkswagen has the best milage at 28.5
mpg.groupby('manufacturer').average_mileage.mean().nlargest(1)

manufacturer
honda    28.5
Name: average_mileage, dtype: float64

In [97]:
mpg.average_mileage.max()

39.5

In [104]:
mpg.groupby('manufacturer')

# Do automatic or manual cars have better miles per gallon?

In [128]:
    mpg.groupby('trans').

AttributeError: 'DataFrameGroupBy' object has no attribute 'nlargest'