# Advanced Dataframes

In this lesson we will continue working with pandas DataFrames, and explore some more complex DataFrame manipulations.

In [2]:
import pandas as pd
import numpy as np

np.random.seed(123)

In [5]:
# Create list of values for names column.

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))
# reference the students varibles

In [6]:
# Construct the DataFrame using the above lists and arrays.
# passing a dictionary into pandas, constructed from the previous arrays
# np.random.choice, allows to randomly pick from given choices

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [7]:
df

       name  math  english  reading classroom
0     Sally    62       85       80         A
1      Jane    88       79       67         B
2     Suzie    94       74       95         A
3     Billy    98       96       88         B
4       Ada    77       92       98         A
5      John    79       76       93         B
6    Thomas    82       64       81         A
7     Marie    93       63       90         A
8    Albert    92       62       87         A
9   Richard    69       80       94         A
10    Isaac    92       99       93         B
11     Alan    92       62       72         A

## Creating Dataframes

### From Lists and Dictionaries

There are several ways to create dataframes, we've already seen how we can create a dataframe from a dictionary:

In [5]:
# you cant do anything here because it is not saved to a variable
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6

The keys in the passed dictionary will be the column names, and the values are the data points that make up each column.

We can also create dataframes from a 2d data structure, either a numpy array or a list of lists:

In [6]:
# list of list, Panda treated each list as a row, panda gave its own titles 0,1,2
pd.DataFrame([[1, 2, 3], [4, 5, 6]])

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
# numpy array, with names for the dataframe
array = np.array([[1, 2, 3], [4, 5, 6]])

pd.DataFrame(array, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

we can build dataframes from dictionary: pros comes with columns name from key
We can create df from list of list or an array but we will need to provide columns name
We can use Series( a single column) it is a fancier array

Notice here that we had to specify the names of the columns ourselves.

### From PyDataset.

In some of the exercises, you'll need to load several datasets using the `pydataset` library. (If you get an error when trying to run the import below, use `pip` to install the `pydataset` package.) When the instructions say to load a dataset from PyDataset, you will need to do the following:

The following import is necessary to access PyDataset datasets:
```python
from pydataset import data
```

Running this code snippet will show you the valuable information doc on the dataset:
```python
data(df_string_name, show_doc=True)
```

Running this code snippet will load the dataset for use as a pandas DataFrame:
```python
df = data(df_string_name)
```

There are 757 available datasets using pydataset. Running the following code snippet in a cell will return a DataFrame with all of your options:
```python
data()
```

if you error out you may need to pip install pydataset
we are importing the function data, data is the function 
there are many datasets stored in data and we can look at any of them by calling them

In [8]:
# Load the dataset and store it in the variable mpg.

from pydataset import data
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

You can view the documentation for the dataset, and any pydata dataset, by setting show_doc to True. This outputs valuable context for your dataset.

```python
data('mpg', show_doc=True) 
```

### From SQL

We can use the `read_sql` method to create a dataframe based on the results of a SQL query. To do this, we need to tell pandas how to connect to the database we are querying. The way we communicate this to pandas is with a specially formatted *connection string*.

In addition, whenever we want to connect to a database from our python code (other programming languages are similar), we will need a **driver**, a bit of software that handles the details of the database connection.

In order to connect to mysql, we'll install the `mysqlclient` and `pymysql` driver packages:

`python -m pip install mysqlclient pymysql`

Once those are installed, we can create the connection string. In general, database connection urls will have this format:

```python
protocol://[user[:password]@]hostname/[database_name]
```

Here's an example of what one would look like:

```python
mysql+pymysql://codeup:p@assw0rd@123.123.123.123/some_db
```

Another thing we need to consider is that we don't want to publish our database credentials to github, however, we will need access to these values in our code in order to create the connection string defined above.

In order to accomplish this, we can define several variables in a file named `env.py` that contain the sensitive data, add `env.py` to our `.gitignore` file, and then import those values into another script. 

**Be 100% sure to add `env.py` to this specific repository's `.gitignore` file, even and especially, if you have already added `env.py` to your global .gitignore file. This will protect the env file for people who clone this project (like collaborators)**

In [ ]:
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

Once this url is defined, we can use it with the `read_sql` function to have pandas treat the results of a SQL query as a dataframe.

In [ ]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

It is common to have longer SQL queries that we want to read into python, and an example of how we might break a query into several lines is below:

In [ ]:
sql = '''
SELECT
    emp_no,
    first_name,
    last_name
FROM employees
WHERE gender = 'F'
LIMIT 100
'''

employees = pd.read_sql(sql, url)
employees.head()

> Don't add and commit files with passwords or other sensitive information in them to a git repository!

In [ ]:
query = '''
SELECT
    t.title as title,
    d.dept_name as dept_name
FROM titles t
JOIN dept_emp USING (emp_no)
JOIN departments d USING (dept_no)
LIMIT 100
'''

title_dept = pd.read_sql(query, url)
title_dept.head()

## Exercises I

Run `python -m pip install mysqlclient pymysql` from your terminal to install pymysql and the mysqlclient.

Create a notebook or python script named `advanced_dataframes` to do your work in for these exercises.

1. Run `python -m pip install mysqlclient pymysql` from your terminal to install the mysql client (any folder is fine)
1. cd into your exercises folder for this module and run `echo env.py >> .gitignore`
1. Create a function named `get_db_url`. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
1. Use your function to obtain a connection to the `employees` database.
1. Once you have successfully run a query:
    - Intentionally make a typo in the database url. What kind of error message do you see?
    - Intentionally make an error in your SQL query. What does the error message look like?
6. Read the `employees` and `titles` tables into two separate DataFrames.
7. How many rows and columns do you have in each DataFrame? Is that what you expected?
8. Display the summary statistics for each DataFrame.
9. How many unique titles are in the `titles` DataFrame?
10. What is the oldest date in the `to_date` column? 
11. What is the most recent date in the `to_date` column?

# ----- Review -------

In [13]:
from env import user, password, host

In [15]:
def get_db_url(db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [18]:
sql = '''
SELECT *
FROM employees
LIMIT 10
'''

In [39]:
df = pd.read_sql(sql,get_db_url('employees'))
url = get_db_url('employees')

In [21]:
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [23]:
# error on the URL
df = pd.read_sql(sql,get_db_url('emploees'))

# OperationalError: (pymysql.err.OperationalError) 
# (1044, "Access denied for user 'mirzakhani_1931'@'%' to database 'emploees'")

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'mirzakhani_1931'@'%' to database 'emploees'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
# error in sql querry
sql2 = '''
SELECT *
 employees
LIMIT 10
'''

df = pd.read_sql(sql2,get_db_url('employees'))

#ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; 
#check the manual that corresponds to your MySQL server version for the right syntax

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'employees\nLIMIT 10' at line 2")
[SQL:
SELECT *
 employees
LIMIT 10
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [25]:
sql_e = 'SELECT * FROM employees'
sql_t = 'SELECT * FROM titles'

In [26]:
df_e = pd.read_sql(sql_e, get_db_url('employees'))

In [28]:
df_t = pd.read_sql(sql_t, get_db_url('employees'))

In [29]:
df_e.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [30]:
df_t.shape

(443308, 4)

In [31]:
df_e.shape

(300024, 6)

In [32]:
df_t.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [33]:
df_e.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [34]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

In [36]:
df_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [40]:
pd.read_sql('SELECT COUNT(DISTINCT title) AS unique_title_count FROM titles',url)

   unique_title_count
0                   7

In [41]:
df_t.title.nunique()

7

In [42]:
df_t.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

In [43]:
len(df_t.title.unique())

7

In [44]:
pd.read_sql('SELECT MIN(to_date) FROM titles', url)

  MIN(to_date)
0   1985-03-01

In [45]:
df_t.to_date.min()

datetime.date(1985, 3, 1)

In [46]:
df_t.to_date.max()

datetime.date(9999, 1, 1)

In [ ]:
---Notes part 2

In [3]:

df = pd.read_csv('students.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'students.csv'

In [8]:
df.head()

    name  math  english  reading classroom
0  Sally    62       85       80         A
1   Jane    88       79       67         B
2  Suzie    94       74       95         A
3  Billy    98       96       88         B
4    Ada    77       92       98         A

In [10]:
my_var = 'name'
df[my_var]

0       Sally
1        Jane
2       Suzie
3       Billy
4         Ada
5        John
6      Thomas
7       Marie
8      Albert
9     Richard
10      Isaac
11       Alan
Name: name, dtype: object

In [11]:
bools = df.name.str.startswith('A')

In [12]:
bools

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11     True
Name: name, dtype: bool

In [13]:
df[bools]

      name  math  english  reading classroom
4      Ada    77       92       98         A
8   Albert    92       62       87         A
11    Alan    92       62       72         A

# .loc  number and strings
inclusive

In [14]:
my_list = [3,6,5,6,7,8,2,0]

In [16]:
my_list[:3]

[3, 6, 5]

In [18]:
df.loc[:4, 'math':'reading'] # includes math, english and reading, up to the fix index

   math  english  reading
0    62       85       80
1    88       79       67
2    94       74       95
3    98       96       88
4    77       92       98

In [20]:
df.loc[bools]

      name  math  english  reading classroom
4      Ada    77       92       98         A
8   Albert    92       62       87         A
11    Alan    92       62       72         A

# .iloc index position
not inclusive

In [21]:
df.iloc[:4]

    name  math  english  reading classroom
0  Sally    62       85       80         A
1   Jane    88       79       67         B
2  Suzie    94       74       95         A
3  Billy    98       96       88         B

In [22]:
df.iloc[1:4, :-1]

    name  math  english  reading
1   Jane    88       79       67
2  Suzie    94       74       95
3  Billy    98       96       88

# Aggregating

.agg

In [24]:
df.reading

0     80
1     67
2     95
3     88
4     98
5     93
6     81
7     90
8     87
9     94
10    93
11    72
Name: reading, dtype: int64

In [25]:
df.reading.agg('min')

67

In [26]:
df['reading'].min()

67

In [33]:
df[['math', 'english','reading']].agg(['max', 'min','mean'])

           math    english  reading
max   98.000000  99.000000     98.0
min   62.000000  62.000000     67.0
mean  84.833333  77.666667     86.5

In [34]:
df.describe()

            math    english    reading
count  12.000000  12.000000  12.000000
mean   84.833333  77.666667  86.500000
std    11.134168  13.371158   9.643651
min    62.000000  62.000000  67.000000
25%    78.500000  63.750000  80.750000
50%    90.000000  77.500000  89.000000
75%    92.250000  86.750000  93.250000
max    98.000000  99.000000  98.000000

.groupby  create a grouped object wich we can apply an aggreation on

In [35]:
df.columns

Index(['name', 'math', 'english', 'reading', 'classroom'], dtype='object')

In [36]:
df.groupby('classroom').agg(['min', 'max','mean'])

/var/folders/gl/sb_qsbtn2n58skm07d4xzbwh0000gn/T/ipykernel_4504/76439426.py:1: FutureWarning: ['name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('classroom').agg(['min', 'max','mean'])

          math             english            reading
           min max    mean     min max   mean     min max    mean
classroom
A           62  94  82.625      62  92  72.75      72  98  87.125
B           79  98  89.250      76  99  87.50      67  93  85.250

In [37]:
df.groupby('classroom').min()

            name  math  english  reading
classroom
A            Ada    62       62       72
B          Billy    79       76       67

np.where

In [38]:
df.math>70

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
Name: math, dtype: bool

In [39]:
np.where(df.math>70, 'passing','failing')

array(['failing', 'passing', 'passing', 'passing', 'passing', 'passing',
       'passing', 'passing', 'passing', 'failing', 'passing', 'passing'],
      dtype='<U7')

In [40]:
df['passing_math'] = np.where(df.math>=70, 'passing','failing')

In [41]:
df.head()

    name  math  english  reading classroom passing_math
0  Sally    62       85       80         A      failing
1   Jane    88       79       67         B      passing
2  Suzie    94       74       95         A      passing
3  Billy    98       96       88         B      passing
4    Ada    77       92       98         A      passing

.transform

In [49]:
df.assign(avg_math_by_class = df.groupby('classroom').math.transform('mean'))

       name  math  english  reading classroom passing_math  avg_math_by_class
0     Sally    62       85       80         A      failing             82.625
1      Jane    88       79       67         B      passing             89.250
2     Suzie    94       74       95         A      passing             82.625
3     Billy    98       96       88         B      passing             89.250
4       Ada    77       92       98         A      passing             82.625
5      John    79       76       93         B      passing             89.250
6    Thomas    82       64       81         A      passing             82.625
7     Marie    93       63       90         A      passing             82.625
8    Albert    92       62       87         A      passing             82.625
9   Richard    69       80       94         A      failing             82.625
10    Isaac    92       99       93         B      passing             89.250
11     Alan    92       62       72         A      passing             82.625

In [50]:
# use .t to transpose to view data a little better
df.groupby(['classroom','passing_math']).t

AttributeError: 'DataFrameGroupBy' object has no attribute 't'

.concat

In [53]:
concat_df = pd.DataFrame({'col1':[1,6,3],'col2':[6,5,20]})
concat_df2 = pd.DataFrame({'col1': [89,62,34], 'col2': [1013, 56, 1009]})

In [54]:
concat_df

   col1  col2
0     1     6
1     6     5
2     3    20

In [55]:
concat_df2

   col1  col2
0    89  1013
1    62    56
2    34  1009

In [56]:
pd.concat([concat_df, concat_df2], axis = 0) # default is 0

   col1  col2
0     1     6
1     6     5
2     3    20
0    89  1013
1    62    56
2    34  1009

In [57]:
pd.concat([concat_df, concat_df2], axis = 1)

   col1  col2  col1  col2
0     1     6    89  1013
1     6     5    62    56
2     3    20    34  1009

In [58]:
pd.concat([concat_df, concat_df2], axis = 0, ignore_index=True) # turns the index to count in order

   col1  col2
0     1     6
1     6     5
2     3    20
3    89  1013
4    62    56
5    34  1009

In [ ]:
.merge

In [61]:
users = pd.DataFrame({
    'id':[1,2,3,4,5,6],
    'name': ['bob','sally','joe','adam','ryan','mike'],
    'role_id':[1,2,3,3,np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2  sally      2.0
2   3    joe      3.0
3   4   adam      3.0
4   5   ryan      NaN
5   6   mike      NaN

In [62]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

In [65]:
users.merge(roles, left_on = 'role_id', right_on='id', how='outer', indicator = True)

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0   1.0      admin        both
1   2.0  sally      2.0   2.0     author        both
2   3.0    joe      3.0   3.0   reviewer        both
3   4.0   adam      3.0   3.0   reviewer        both
4   5.0   ryan      NaN   NaN        NaN   left_only
5   6.0   mike      NaN   NaN        NaN   left_only
6   NaN    NaN      NaN   4.0  commenter  right_only